textures/Venus16K/* filter=lfs diff=lfs merge=lfs -text
textures/Earth16K/* filter=lfs diff=lfs merge=lfs -text
textures/Mercury16K/* filter=lfs diff=lfs merge=lfs -text
Earth16K/** filter=lfs diff=lfs merge=lfs -text
Mercury16K/** filter=lfs diff=lfs merge=lfs -text
Venus16K/** filter=lfs diff=lfs merge=lfs -text
textures/Earth16K/** filter=lfs diff=lfs merge=lfs -text
textures/Mercury16K/** filter=lfs diff=lfs merge=lfs -text
textures/Venus16K/** filter=lfs diff=lfs merge=lfs -text
assets/presentations/spacecomp-primer/*.svg filter=lfs diff=lfs merge=lfs -text
assets/presentations/*.pdf filter=lfs diff=lfs merge=lfs -text
