textures/earth/Earth_* filter=lfs diff=lfs merge=lfs -text
textures/mercury/Mercury_* filter=lfs diff=lfs merge=lfs -text
textures/venus/Venus_* filter=lfs diff=lfs merge=lfs -text
assets/presentations/spacecomp-primer/*.svg filter=lfs diff=lfs merge=lfs -text
assets/presentations/*.pdf filter=lfs diff=lfs merge=lfs -text
